body {
  margin: 0;
}

.norris-container h1 {
  color: blue;
}

.norris-container {
  width: 412px;
  height: 913px;
  margin: auto;
  background-color: black;
}
.jokes {
  width: 405px;
  height: 150px;
  border: 3px solid black;
  margin: auto;
  color: blue;
  font-size: 25px;
  text-align: center;
  padding-bottom: 20px;
}

img {
  width: 412px;
  padding-top: 60px;
  padding-bottom: 30px;
  margin: auto;
}
.norrisimg button {
  display: block;

  margin: auto;
}
